<!-- ---------------------------------------------------------------------------
  helloworld.html
  
  Page de présentation du composant.

  Historique
  20/09/20 - Grégory Fromain <gregory@connect-io.fr> - Ajout entête & block
---------------------------------------------------------------------------- -->


<!--#cwBlock corps-->
<main role="main" class="inner cover">

    <div class="row">
        <div class="col-12 pb-5">
            <h1 class="cover-heading">Hello 
                <!--#4DIF (string(visiteur_o.hwNom)#"")-->
                    <!--#4DTEXT visiteur_o.hwNom-->
                <!--#4DELSE-->
                    world
                <!--#4DENDIF-->
            </h1>
            <form <!--#4DSCRIPT/cwFormInit/formHelloWorld-->>
                <!--#4DSCRIPT/cwInputHtml/hwNom-->
                <!--#4DSCRIPT/cwInputHtml/token-->
                <!--#4DSCRIPT/cwInputHtml/hwSubmit-->
            </form>
        </div>

        <div class="col-12">
            <p class="text-justify">Ceci est la page hello world du composant cioWeb, le composant est libre d'utilisation et est stable, il reste cependant en développement et des modifications importantes dans le code peuvent entraîner une instabilité lors d'une mise à jour du composant. Merci de bien suivre les modifications.
            </p>
                <a href="#" class="btn btn-secondary">Découvrir le composant</a>
        </div>
    </div>

</main>
<!--#cwBlockFin-->