userPreferences.*
Data/**
Logs/**
Plugins/**
Project/DerivedData/**
Project/Trash/**
Ressources/cache/**
Settings/**
*.4DB
*.4DC
*.4DD
*.4DK
*.4DIndx
*.4DIndy
*.Match

*.journal
*.Ink
*.pst
*.swp
*.tmp
*.temp
*.DS_Store
.DS_Store