<!--#4DSCRIPT/wpTmLayoutHtml-->

<!DOCTYPE html>
<html lang="<!--4DTEXT visiteur_o.langue-->">

<head>
  <title><!--#4DIF (pageWeb_o.titre#"")--><!--#4DTEXT pageWeb_o.titre--> | Assurgérance<!--#4DENDIF--> </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="/favicon.ico">

  <!-- chargement des polices -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/animate.css"><!-- refermer les popup. ex :notifications-->
  <link rel="stylesheet" href="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css"><!-- menu déroulant. ex :notifications-->
  <link rel="stylesheet" href="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/hamburgers/hamburgers.min.css">


  <link rel="stylesheet" href="/<!--4DTEXT visiteur_o.sousDomaine-->/css/unify-globals.css">
  <link rel="stylesheet" href="/<!--4DTEXT visiteur_o.sousDomaine-->/css/unify-admin.css">

  <link rel="stylesheet" href="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/hs-admin-icons/hs-admin-icons.css">
  <link rel="stylesheet" href="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/bootstrap-select/css/bootstrap-select.min.css">

  <link href="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/toastr/css/toastr.min.css" rel="stylesheet"> <!-- notification -->

  <link rel="stylesheet" href="/<!--4DTEXT visiteur_o.sousDomaine-->/css/custom.css">

  <!--#4DHTML cwCssGetfile-->
</head>

<body>
  <!-- Header -->
  <header id="js-header" class="u-header u-header--static d-print-none">
    <div class="u-header__section u-header__section--admin-light u-shadow-red g-min-height-65">
      <nav class="navbar no-gutters g-pa-0">
        <div class="col-2 d-flex flex-nowrap u-header-logo-toggler g-py-1">
          <a href="<!--4DSCRIPT/cwLibToUrl/index-->" class="g-line-height-1 py-0 g-mt-1 g-ml-20">
            <img class="img-fluid g-width-150" src="/<!--4DTEXT visiteur_o.sousDomaine-->/img/logoAssurgerance300.jpg" />
          </a>
        </div>

        <div class="g-pos-rel">
          <h4 class="g-mb-0">Interface employé <!--#4DIF (visiteur_o.devMode)-->: <span class="text-danger">Mode développement</span><!--#4DENDIF--></h4>
        </div>
        
        <!-- Filtre agence -->
        <div class="g-pos-rel g-hidden-sm-down g-mr-5">
              
            <a id="messagesInvoker" class="d-block text-uppercase u-header-icon-v1 g-pos-rel g-width-40 g-height-40 rounded-circle g-font-size-20" href="#" aria-controls="messagesMenu" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#messagesMenu" data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
              <span class="u-badge-v1 g-top-7 g-right-7 g-width-18 g-height-18 g-bg-primary g-font-size-10 g-color-white rounded-circle p-0"><!--#4DTEXT visiteur_o.filtreAgences.length --></span>
              <i class="fas fa-city g-absolute-centered"></i>
            </a>

            <!-- Top filtre agence -->
            <div id="messagesMenu" class="js-custom-scroll g-absolute-centered--x g-width-340 g-max-width-400 g-height-400 g-mt-17 rounded u-dropdown--css-animation u-dropdown--hidden" aria-labelledby="messagesInvoker" style="animation-duration: 300ms; left: 20px;">
              <div class="media u-header-dropdown-bordered-v1 g-pa-20">
                <h4 class="d-flex align-self-center text-uppercase g-font-size-default g-letter-spacing-0_5 g-mr-20 g-mb-0">Agence(s) sélectionnée(s)</h4>
                <div class="media-body align-self-center text-right">
                  <a class="g-color-secondary <!--#4DSCRIPT/cwPageActive/agenceFiltre-->" href="<!--4DSCRIPT/cwLibToUrl/agenceFiltre-->">Modifier</a>
                </div>
              </div>

              <ul class="p-0 mb-0">
              <!--#4DEVAL $i:=0-->
              <!--#4DLOOP $i<visiteur_o.filtreAgences.length-->
                <li class="media g-pos-rel u-header-dropdown-item-v1 g-pa-5 g-px-19">
                  <div class="d-flex g-mr-15">
                      <i class="g-font-size-32 g-mt-10 fa fa-check g-color-primary"></i>
                  </div>
                  <div class="media-body">
                    <h6 class="g-font-size-16 g-font-weight-400 g-mb-5"><!--#4DTEXT visiteur_o.filtreAgences[$i].Nom--></h6>
                  </div>
                </li>
                <!--#4DEVAL $i:=$i+1-->
              <!--#4DENDLOOP-->
              </ul>
            </div>
        </div>
        <!-- fin Filtre agence -->

          <!-- Top User -->
          <div class="col-auto d-flex g-pt-5 g-pt-0--sm g-pl-10 g-pl-20--sm">
            <div class="g-pos-rel g-px-10--lg">
              <a id="profileMenuInvoker" class="d-block" href="#" aria-controls="profileMenu" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#profileMenu" data-dropdown-type="css-animation"
                data-dropdown-duration="300" data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                <span class="g-pos-rel g-top-2 g-ml-50 g-mr-20">
                    <span class="h5"><!--4DTEXT visiteur_o.prenomNom --> <i class="fas fa-angle-down g-pos-rel g-top-2 g-ml-10"></i></span>
                </span>
              </a>

              <!-- Top User Menu -->
              <ul id="profileMenu" class="g-pos-abs g-left-0 g-width-100x--lg g-nowrap g-font-size-14 g-py-20 g-mt-17 rounded responsive-w" aria-labelledby="profileMenuInvoker">
                <li class="g-mb-10">
                  <a class="media g-color-primary--hover g-py-5 g-px-10" href="<!--4DSCRIPT/cwLibToUrl/userParametre-->">
                    <span class="d-flex align-self-center g-mr-12">
                      <i class="fas fa-user-cog"></i>
                    </span>
                    <span class="media-body align-self-center">Paramètres de votre compte</span>
                  </a>
                </li>

                <li class="mb-0">
                  <a class="media g-color-primary--hover g-py-5 g-px-10" href="<!--4DSCRIPT/cwLibToUrl/userDeconnexion-->">
                    <span class="d-flex align-self-center g-mr-12">
                      <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span class="media-body align-self-center">Déconnexion</span>
                  </a>
                </li>
              </ul>
              <!-- End Top User Menu -->
            </div>
          </div>
          <!-- End Top User -->
      </nav>
    </div>
    <!-- End Messages/Notifications/Top Search Bar/Top User -->
  </header>
  <!-- End Header -->

  <main class="container-fluid px-0">
    <!-- Pour la génération du pdf on est obligé d'enlever la class g-overflow-x-hidden car elle ne permet pas de prendre en compte le saut de page -->
    <div class="row no-gutters g-pos-rel">
     
      <div class="col g-pb-65--md g-bg-lightblue-v10-opacity-0_5">
        <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-10">
          <div class="row">
            <div class="col-12">
              <ul class="u-list-inline g-color-gray-dark-v6">

                <li class="list-inline-item g-mr-10">
                  <a class="u-link-v5 g-color-gray-dark-v6 g-color-secondary--hover g-valign-middle" href="<!--4DSCRIPT/cwLibToUrl/index-->?navBarClean=1"><i class="fa fa-home"></i></a>
                </li>

                <!--#4DEVAL i:=0-->
                <!--#4DLOOP (i<navBar_c.length)-->
                  <li class="list-inline-item g-mr-10">
                    <i class="fa fa-angle-right g-font-size-16 g-color-gray-light-v6 g-valign-middle g-mr-10"></i>
                    <!--#4DIF (navBar_c[i].url#null)-->
                      <a class="u-link-v5 g-color-gray-dark-v6 g-color-secondary--hover g-valign-middle" href="<!--#4DTEXT navBar_c[i].url-->">
                          <!--#4DHTML navBar_c[i].lib-->
                      </a>
                    <!--#4DELSE-->
                      <span class="g-valign-middle"><!--#4DTEXT navBar_c[i].lib--></span>
                    <!--#4DENDIF-->
                  </li>                 
                <!--#4DEVAL i:=i+1-->
                <!--#4DENDLOOP-->

              </ul>
            </div>
          </div>
        </div>

        <!--#4DHTML pageWeb_o.corps-->

        <!-- Footer -->
        <footer id="footer" class="u-footer--bottom-sticky g-bg-white g-color-gray-dark-v6 g-brd-top g-brd-gray-light-v7 g-pa-20">
          <div class="row align-items-center">
            <div class="col-md-8 g-mb-10 g-mb-0--md">
            </div>

            <!-- Footer Copyrights -->
            <div class="col-md-4 text-center text-md-right">
              <small class="d-block g-font-size-default">
                <!--4DTEXT Year of(Current date)--> © <b>Assur</b>gérance, Tous droits réservés</small>
            </div>
            <!-- End Footer Copyrights -->
          </div>
        </footer>
        <!-- End Footer -->
      </div>
    </div>


    <!-- Ajout par Scanu Rémy le 15/01/2020 du bouton pour remonter en haut de page quand on scrolle la page -->
    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{"bottom": 15,"right": 15}' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
       <i class="fas fa-arrow-up"></i>
    </a>
  </main>

  <!-- JS Global Compulsory -->
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/jquery/jquery.min.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/popper.js/popper.min.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/bootstrap/bootstrap.min.js"></script>

  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/cookiejs/jquery.cookie.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>

  <!-- JS Plugins Init. -->
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

  <!-- JS Unify -->
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/js/hs.core.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/js/components/hs.side-nav.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/js/helpers/hs.hamburgers.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/js/components/hs.range-datepicker.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/js/components/hs.datepicker.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/js/components/hs.dropdown.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/js/components/hs.scrollbar.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/js/components/hs.area-chart.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/js/components/hs.bar-chart.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/js/helpers/hs.focus-state.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/js/components/hs.popup.js"></script>
  
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/custombox/custombox.min.js"></script>
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/custombox/custombox.legacy.min.js"></script>

  <!-- Ajout par Scanu Rémy le 15/01/2020 du bouton pour remonter en haut de page quand on scrolle la page -->
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/js/components/hs.go-to.js"></script><!-- Go To -->
  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/toastr/js/toastr.min.js"></script><!-- notification -->

  <script src="/<!--4DTEXT visiteur_o.sousDomaine-->/vendor/modernizr/js/modernizr-2.7.1.js"></script>
  <!--#4DSCRIPT/cwIncludePageHtml/cioWeb/alert.html-->
  <!--#4DHTML cwJsGetfile-->


  <script>
    $(document).on('ready', function() {

        //Alerte de confirmation
      $('[data-toggle="confirmation"]').confirmation({
        "btnOkLabel" : "<i class='fas fa-check'></i>&nbsp;Oui",
        "btnCancelLabel" : "<i class='fas fa-times'></i>&nbsp;Non"
      });

      // utilisation de 'tooltip-title' comme title
      $('a[tooltip], button[tooltip]').tooltip(
        {title: function() {
          return $(this).attr("tooltip-title");
        },
        placement: "auto"
      });

      // initialization of go to
      //Ajout par Scanu Rémy le 15/01/2020 du bouton pour remonter en haut de page quand on scrolle la page
      $.HSCore.components.HSGoTo.init('.js-go-to');

      $.HSCore.helpers.HSHamburgers.init('.hamburger');

      // initialization of sidebar navigation component
      $.HSCore.components.HSSideNav.init('.js-side-nav', {
        afterOpen: function() {
          setTimeout(function() {
            $.HSCore.components.HSAreaChart.init('.js-area-chart');
          }, 400);
        },
        afterClose: function() {
          setTimeout(function() {
            $.HSCore.components.HSAreaChart.init('.js-area-chart');
          }, 400);
        }
      });

      // initialization of HSDropdown component
      $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
        dropdownHideOnScroll: false
      });

      // initialization of custom scrollbar
      $.HSCore.components.HSScrollBar.init($('.js-custom-scroll'));
    });

    <!--#4DHTML webJsGetContent-->
  </script>
</body>

</html>
