<!-- ---------------------------------------------------------------------------
  input.html
  
  --

  Historique
  21/09/20 - Grégory Fromain <gregory@connect-io.fr> - Ajout entête & block
---------------------------------------------------------------------------- -->

<!--#4DIF (string(formInput_o.lib)="token")-->
<input type="hidden" name="<!--#4DTEXT formInput_o.lib-->"  id="<!--#4DTEXT formInput_o.lib-->" value="$valueInput" />

<!--#4DELSEIF ((formInput_o.type="text")|(formInput_o.type="email")|(formInput_o.type="password"))-->
<div class="form-group row">
	<!--#4DIF (string(formInput_o.label)#"")-->
	<label class="col-sm-<!--#4DTEXT formInput_o.colLabel--> col-form-label" for="<!--#4DTEXT formInput_o.lib-->">
		<!--#4DIF (bool(formInput_o.collapse)=True)-->
			<a data-toggle='collapse' href='#collapse<!--#4DTEXT formInput_o.lib-->' role='button' aria-expanded='false' aria-controls='<!--#4DTEXT formInput_o.lib-->' class='text-reset text-decoration-none'>
		<!--#4DENDIF-->
		<!--#4DHTML formInput_o.label-->
		<!--#4DIF (bool(formInput_o.collapse)=True)-->
			</a>
		<!--#4DENDIF-->
		<!--#4DIF (formInput_o.required)--><span class="required">*</span><!--#4DENDIF--> <!--#4DIF (bool(formInput_o.influent))--><sup>(1)</sup><!--#4DENDIF-->
	</label>
	<!--#4DENDIF-->
	<div class="col-sm-<!--#4DTEXT formInput_o.colInput--><!--#4DIF (bool(formInput_o.collapse)=True)--> collapse<!--#4DENDIF--><!--#4DIF (bool(formInput_o.center)=True)--> align-self-center<!--#4DENDIF-->"<!--#4DIF (bool(formInput_o.collapse)=True)--> id="collapse<!--#4DTEXT formInput_o.lib-->"<!--#4DENDIF-->>
		<!--#4DIF (string(formInput_o.append)#"")--><div class="input-group g-brd-primary--focus"><!--#4DENDIF-->
			<input type="<!--#4DTEXT formInput_o.type-->" id="<!--#4DTEXT formInput_o.lib-->" name="<!--#4DTEXT formInput_o.lib-->"
				class="form-control rounded-0 <!--#4DTEXT formInput_o.class--><!--#4DIF (string(formInput_o.append)#"")--> border-right-0<!--#4DENDIF-->"
				placeholder="<!--#4DTEXT formInput_o.placeholder-->"
				value="$valueInput"
				<!--#4DIF (formInput_o.required)--> required<!--#4DENDIF-->
				<!--#4DIF (formInput_o.clientDisabled)--> disabled<!--#4DENDIF-->
				<!--#4DIF (string(formInput_o.pattern)#"")--> pattern="<!--#4DTEXT formInput_o.pattern -->"<!--#4DENDIF-->
				<!--#4DIF (string(formInput_o.titlePattern)#"")--> title="<!--#4DTEXT formInput_o.titlePattern -->"<!--#4DENDIF-->
				<!--#4DIF (string(formInput_o.class)="@placeholder@")--> data-mask="00/00/0000"<!--#4DENDIF-->
			/>
		<!--#4DIF (string(formInput_o.append)#"")-->
			<div class="input-group-append">
				<span class="input-group-text rounded-0 g-bg-white g-color-gray-light-v1"><!--#4DTEXT formInput_o.append--></span>
			</div>
		</div>
		<!--#4DENDIF-->
		<!--#4DIF (string(formInput_o.helpBlock)#"")--><p class="help-block"><!--#4DHTML formInput_o.helpBlock--></p><!--#4DENDIF-->
	</div>
</div>


<!--#4DELSEIF (formInput_o.type="checkbox")-->
<div class="form-group row">
	<div class="col-sm-<!--#4DTEXT formInput_o.colLabel-->"></div>
	<div class="col-sm-<!--#4DTEXT formInput_o.colInput-->">
		<input type="hidden" name="<!--#4DTEXT formInput_o.lib-->" value="off" />
		<label class="form-check-inline u-check g-pl-25">
			<input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" id="<!--#4DTEXT formInput_o.lib-->" name="<!--#4DTEXT formInput_o.lib-->"
			<!--# 4 DIF string(<!--#4DTEXT Storage.config.varVisitorName_t-->.<!--#4DTEXT formInput_o.lib-->)="on"-->checked<!--# 4 DENDIF-->
			<!--#4DIF (formInput_o.required)--> required<!--#4DENDIF--> />
			<div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
				<i class="fa" data-check-icon="&#xf00c"></i>
			</div>
			<!--#4DIF (formInput_o.required)--><span class="required">*</span><!--#4DENDIF--> <!--#4DIF (bool(formInput_o.influent))--><sup>(1)</sup><!--#4DENDIF-->
			<span class="<!--#4DTEXT formInput_o.class--> text-left"><!--#4DTEXT string(formInput_o.label)--></span>
		</label>
	</div>
	<!--#4DIF (string(formInput_o.helpBlock)#"")--><p class="help-block g-pl-15"><!--#4DHTML formInput_o.helpBlock--></p><!--#4DENDIF-->
</div>



<!--#4DELSEIF (formInput_o.type="textarea")-->
<div class="form-group row">
  <label class="col-sm-<!--#4DTEXT formInput_o.colLabel-->  g-mb-10" for="<!--#4DTEXT formInput_o.lib-->"><!--#4DHTML formInput_o.label--><!--#4DIF (formInput_o.required)--><span class="required"> *</span><!--#4DENDIF--></label>
  <div class="col-sm-<!--#4DTEXT formInput_o.colInput-->">
    <textarea id="<!--#4DTEXT formInput_o.lib-->" name="<!--#4DTEXT formInput_o.lib-->"
			class="form-control <!--#4DTEXT formInput_o.class-->" rows="6" placeholder="<!--#4DTEXT formInput_o.placeholder-->"
			<!--#4DIF (formInput_o.required)--> required<!--#4DENDIF--> <!--#4DIF (formInput_o.clientDisabled)--> disabled<!--#4DENDIF-->>$valueInput</textarea>
		<!--#4DIF (string(formInput_o.helpBlock)#"")--><small class="form-text text-muted g-font-size-default g-mt-10"><!--#4DHTML formInput_o.helpBlock--></small><!--#4DENDIF-->
  </div>
</div>


<!--#4DELSEIF (formInput_o.type="file")-->
<div class="form-group row">
	<!--#4DIF (string(formInput_o.label)#"")-->
	<label class="col-sm-<!--#4DTEXT formInput_o.colLabel--> control-label" for="<!--#4DTEXT formInput_o.lib-->"><!--#4DHTML formInput_o.label--> <!--#4DIF (formInput_o.required)--><span class="required">*</span><!--#4DENDIF--> <!--#4DIF (bool(formInput_o.influent))--><sup>(1)</sup><!--#4DENDIF--></label>
	<!--#4DENDIF-->
	<div class="col-sm-<!--#4DTEXT formInput_o.colInput-->">
		<input type="file" id="<!--#4DTEXT formInput_o.lib-->" name="<!--#4DTEXT formInput_o.lib-->"
			class="<!--#4DTEXT formInput_o.class-->" accept="<!--#4DTEXT formInput_o.accept-->"
			<!--#4DIF (formInput_o.required)--> required<!--#4DENDIF-->
			<!--#4DIF (formInput_o.clientDisabled)--> disabled<!--#4DENDIF-->
		/>
		<!--#4DIF (string(formInput_o.helpBlock)#"")--><p class="help-block"><!--#4DHTML formInput_o.helpBlock--></p><!--#4DENDIF-->
  </div>
</div>


<!--#4DELSEIF (formInput_o.type="select")-->
<div class="form-group row">
	<!--#4DIF (string(formInput_o.label)#"")-->
		<label class="col-sm-<!--#4DTEXT formInput_o.colLabel--> col-form-label" for="<!--#4DTEXT formInput_o.lib-->">
			<!--#4DIF (bool(formInput_o.collapse)=True)-->
				<a data-toggle='collapse' href='#collapse<!--#4DTEXT formInput_o.lib-->' role='button' aria-expanded='false' aria-controls='<!--#4DTEXT formInput_o.lib-->' class='text-reset text-decoration-none'>
			<!--#4DENDIF-->
			<!--#4DHTML formInput_o.label-->
			<!--#4DIF (bool(formInput_o.collapse)=True)-->
				</a>
			<!--#4DENDIF-->
			<!--#4DIF (formInput_o.required)-->
				<span class="required">*</span>
			<!--#4DENDIF-->
			<!--#4DIF (bool(formInput_o.influent))--><sup>(1)</sup><!--#4DENDIF-->
		</label>
	<!--#4DENDIF-->
	<div class="col-sm-<!--#4DTEXT formInput_o.colInput--><!--#4DIF (bool(formInput_o.collapse)=True)--> collapse<!--#4DENDIF-->"<!--#4DIF (bool(formInput_o.collapse)=True)--> id="collapse<!--#4DTEXT formInput_o.lib-->"<!--#4DENDIF-->>
		<select id="<!--#4DTEXT formInput_o.lib-->" name="<!--#4DTEXT formInput_o.lib-->"
			class="form-control rounded-0 <!--#4DTEXT formInput_o.class-->"  placeholder="<!--#4DTEXT formInput_o.placeholder-->"
			<!--#4DIF (formInput_o.required)--> required<!--#4DENDIF--> <!--#4DIF (formInput_o.clientDisabled)--> disabled<!--#4DENDIF-->>
			$valueInput
		</select>
		<!--#4DIF (string(formInput_o.helpBlock)#"")--><p class="help-block"><!--#4DHTML formInput_o.helpBlock--></p><!--#4DENDIF-->
  </div>
</div>


<!--#4DELSEIF (formInput_o.type="radio")-->
<div class="form-group row">
	<!--#4DIF (string(formInput_o.label)#"")-->
	<span class="col-sm-<!--#4DTEXT formInput_o.colLabel-->" for="<!--#4DTEXT formInput_o.lib-->">
		<!--#4DIF (bool(formInput_o.collapse)=True)-->
			<a data-toggle="collapse" href="#collapse<!--#4DTEXT formInput_o.lib-->"" role="button" aria-expanded="false" aria-controls="<!--#4DTEXT formInput_o.lib-->" class="text-reset text-decoration-none">
		<!--#4DENDIF-->
		<!--#4DHTML formInput_o.label-->
		<!--#4DIF (bool(formInput_o.collapse)=True)-->
			</a>
		<!--#4DENDIF-->
		<!--#4DIF (formInput_o.required)-->
			<span class="required">*</span>
		<!--#4DENDIF-->
		 <!--#4DIF (bool(formInput_o.influent))--><sup>(1)</sup><!--#4DENDIF-->
	</span>
	<!--#4DENDIF-->
	<div class="col-sm-<!--#4DTEXT formInput_o.colInput-->">
		<div class="row">
			<!--#4DIF (bool(formInput_o.collapse)=True)-->
				<div id="collapse<!--#4DTEXT formInput_o.lib-->" class="collapse">
			<!--#4DENDIF-->
			
			<!--#4DIF (formInput_o.class="@groupe@")-->
				<div class="col-<!--#4DIF (string(formInput_o.colRadio)#"")--><!--#4DTEXT formInput_o.colRadio --><!--#4DELSE-->12<!--#4DENDIF-->">
					<div class="btn-group justified-content"<!--#4DIF (string(formInput_o.style)#"")--> style="<!--#4DTEXT formInput_o.style-->"<!--#4DENDIF-->>
						<!--#4DEVAL i:=0-->
						<!--#4DLOOP (i<formInput_o.selection.length)-->
							<label class="u-check">
							<input type="radio" name="<!--#4DTEXT formInput_o.lib-->" value="<!--#4DTEXT formInput_o.selection[i].value-->"
								<!--# 4 DIF string(<!--#4DTEXT Storage.config.varVisitorName_t-->.<!--#4DTEXT formInput_o.lib-->)="<!--#4DTEXT formInput_o.selection[i].value-->"-->
									checked=""
								<!--# 4 DELSEIF (<!--#4DTEXT choose(Bool(formInput_o.selection[i].selected);"True";"False")-->&(<!--#4DTEXT Storage.config.varVisitorName_t-->.<!--#4DTEXT formInput_o.lib-->=Null))-->
									checked=""
								<!--# 4 DENDIF-->
								class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0"<!--#4DIF (formInput_o.required)--> required<!--#4DENDIF--><!--#4DIF (formInput_o.clientDisabled)--> disabled<!--#4DENDIF-->>
								<span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked rounded-0 <!--#4DTEXT formInput_o.class-->"><!--#4DTEXT formInput_o.selection[i].lib--></span>
						</label>
						<!--#4DEVAL i:=i+1-->
						<!--#4DENDLOOP-->
					</div>
				</div>
			<!--#4DELSE-->
				<!--#4DEVAL i:=0-->
				<!--#4DLOOP (i<formInput_o.selection.length)-->
				<div class="col-<!--#4DIF (string(formInput_o.colRadio)#"")--><!--#4DTEXT formInput_o.colRadio --><!--#4DELSE-->12<!--#4DENDIF-->">
					<label class="u-check">
					<input type="radio" class="<!--#4DTEXT formInput_o.lib-->" name="<!--#4DTEXT formInput_o.lib-->" value="<!--#4DTEXT formInput_o.selection[i].value-->"
						<!--# 4 DIF string(<!--#4DTEXT Storage.config.varVisitorName_t-->.<!--#4DTEXT formInput_o.lib-->)="<!--#4DTEXT formInput_o.selection[i].value-->"-->
							checked=""
						<!--# 4 DELSEIF (<!--#4DTEXT choose(Bool(formInput_o.selection[i].selected);"True";"False")-->&(<!--#4DTEXT Storage.config.varVisitorName_t-->.<!--#4DTEXT formInput_o.lib-->=Null))-->
							checked=""
						<!--# 4 DENDIF-->
						class="" <!--#4DIF (formInput_o.required) & (formInput_o.selection.length=1)--> required<!--#4DENDIF--> <!--#4DIF (formInput_o.clientDisabled)--> disabled<!--#4DENDIF-->>
					<!--#4DTEXT formInput_o.selection[i].lib-->
				</label>
				</div>
				<!--#4DEVAL i:=i+1-->
				<!--#4DENDLOOP-->
			<!--#4DENDIF-->

			<!--#4DIF (bool(formInput_o.collapse)=True)-->
				</div>
			<!--#4DENDIF-->
		</div>
		<!--#4DIF (string(formInput_o.helpBlock)#"")--><p class="help-block"><!--#4DHTML formInput_o.helpBlock--></p><!--#4DENDIF-->
 	</div>
</div>


<!--#4DELSEIF (formInput_o.type="toggle")-->
<div class="form-group">
	<label class="d-flex align-items-center justify-content-between">
		<span><!--#4DTEXT formInput_o.label--> <!--#4DIF (formInput_o.required)--><span class="required">*</span><!--#4DENDIF--> <!--#4DIF (bool(formInput_o.influent))--><sup>(1)</sup><!--#4DENDIF--></span>
			<div class="u-check">
			<input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0 <!--#4DTEXT formInput_o.class-->" name="<!--#4DTEXT formInput_o.lib-->" checked="" type="checkbox" <!--#4DIF (formInput_o.required)--> required<!--#4DENDIF-->>
			<div class="u-check-icon-radio-v8">
				<i class="fa" data-check-icon=""></i>
			</div>
		</div>
	</label>
	<!--#4DIF (string(formInput_o.helpBlock)#"")--><p class="help-block text-right"><!--#4DHTML formInput_o.helpBlock--></p><!--#4DENDIF-->
</div>


<!--#4DELSEIF (formInput_o.type="submit")-->
<div class="row">
	<!--#4DIF (formInput_o.requiredMention_i#0)-->
	<div class="col">
		<p class="small"><span class="required">*</span> Champ obligatoire.</p>
	</div>
	<!--#4DENDIF-->
	<div class="col">
		<div class="form-group">
			<!-- J'ajoute un hidden du même nom que le submit pour pouvoir sérialiser en ajax.  -->
			<input type="hidden" name="<!--#4DTEXT formInput_o.lib-->" value="" />	
		<!--#4DIF (string(formInput_o.divClassSubmit)#"")--><div class="<!--#4DTEXT formInput_o.divClassSubmit-->"><!--#4DENDIF-->
			<button type="submit" id="<!--#4DTEXT formInput_o.lib-->"
				name="<!--#4DTEXT formInput_o.lib-->"
				class="btn rounded-0 u-btn-primary <!--#4DTEXT formInput_o.class-->"
				<!--#4DIF (string(formInput_o.style)#"")-->style="<!--#4DTEXT formInput_o.style-->"<!--#4DENDIF-->
				<!--#4DIF (formInput_o.clientDisabled)--> disabled<!--#4DENDIF-->>
				<!--#4DTEXT formInput_o.value-->
			</button>
		<!--#4DIF (string(formInput_o.divClassSubmit)#"")--></div><!--#4DENDIF-->
		</div>
	</div>
</div>


<!--#4DELSEIF (formInput_o.type="hidden")-->
<input type="hidden" name="<!--#4DTEXT formInput_o.lib-->"  id="<!--#4DTEXT formInput_o.lib-->" class="<!--#4DTEXT formInput_o.class-->" value="$valueInput" />
<!--#4DELSE-->
<div class="form-group">
    <p>input.html : Aucun type d'input est pris en charge (<!--#4DTEXT formInput_o.type-->)</p>
</div>
<!--#4DENDIF-->